@import 'segments/_nav';
@import 'segments/_main_menu';
@import 'segments/_sellers';
@import 'segments/_society';
@import 'segments/_card_with_descr';
@import 'segments/_culture';
@import 'segments/_power';
@import 'segments/_features';
@import 'segments/_rectangle';
@import 'segments/_mailing';
@import 'segments/_footer';

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}

body {
  margin: 0;
}

.btn {
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  width: 129px;
  height: 36px;
}
